<?xml version="1.0" encoding="utf-8"?>
<launch>
	
    ### ROSBRIDGE ###
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    ### ROOM_CATEGORIZATION ###
    <node name="generate_panoramicImage" pkg="room_categorization" type="generate_panoramicImage.py" output="screen"/>
    <node name="poseRobot" pkg="room_categorization" type="get_poseRobot.py" output="screen"/>
    <node name="objectsInFOV" pkg="room_categorization" type="objectsInFOV.py" output="screen"/>
    <node name="get_bestSubimage" pkg="room_categorization" type="get_bestSubimage.py" output="screen"/>

	
    ### RVIZ ###
    <node name="rviz_player" pkg="rviz" type="rviz" args="-d $(find room_categorization)/rviz/room_categorization_rviz_config.rviz"/>

    ### simulation ###
    <node pkg="rosbag" type="play" name="player" output="log" args="--clock /home/matez/Documents/RobotHome_Dataset/anto-s1_fullhouse1_localization.bag"/>
    <include file="$(find missions_pkg)/launch/simbot/simbot_map_server.launch">
        <arg name="map_file" value="$(find missions_pkg)/maps/anto-s1.yaml" />
    </include>

</launch>
